<h1>Edit News</h1>
  <%= simple_form_for @article, url: article_path(@article), method: :put do |f| %>
    <%= render partial: "form", locals: {f: f}%>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
